@page
@model RazorPagesEventMaker22.Pages.Events.DeleteEventModel
@{
    ViewData["Title"] = "Delete event";
}
<h1>Delete Event</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Event.Id" />
            <div class="form-group">
                <label asp-for="@Model.Event.Name" class="control-label"></label>
                <input asp-for="@Model.Event.Name" class="form-control" />
                <span asp-validation-for="Event.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.Description" class="control-label"></label>
                <input asp-for="@Model.Event.Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.DateTime" class="control-label"></label>
                <input asp-for="@Model.Event.DateTime" class="form-control" />
                <span asp-validation-for="Event.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.City" class="control-label"></label>
                <input asp-for="@Model.Event.City" class="form-control" />
                <span asp-validation-for="Event.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.CountryCode" class="control-label"></label>
                <input asp-for="@Model.Event.CountryCode" class="form-control" />
                <span asp-validation-for="Event.CountryCode" class="text-danger"></span>
            </div>
            <div class="formgroup">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>

        </form>


    </div>
    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</div>
